---
import TestCase from '../components/TestCase.jsx';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Accessibility Test Page</title>
  </head>
  <body>
    <main>
      <h1>Accessibility Test Page</h1>
      <div class="container">
        <TestCase client:load />
      </div>
    </main>
  </body>
</html>
